.analytics_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.analytics_card {
    width: 100%;
    max-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}